// Colors
$ship: #144f7f;
$grey: #e5e5e5;

// Shadow
$shadow-main: 0 2px 2px #be9a1c;
$shadow-white: 0 1px 1px rgba(0, 0, 0, 0.15);

// MedeaQueries
$desktop: 1200px;

// Content
$wrapper: 1080px;

// Font
$font-size: 14px;
